body {
    background-color: darkslategray;
    color: lightsalmon;
}

h1 {
    color: blueviolet;
}

p {
    width: 40rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: justify;
    color: azure;
}

hr {
    border-color: red;
    width: 20%;
    
}

pre {
    background-color: black;
    width: 500px;
    color: white;
}

span {
    text-decoration: underline;
}