body {
    background-color: white;
    font-size: 10px;
    text-align: center;
}

#azul {
    color: blue;
    text-align: left;
}

.estilo1 {
    background-color: black;
    color: white;
    font-size: 15px;
}

.clase1 {
    font-style: italic;
    margin-bottom: 0px;
}

hr {
    margin-top: 0px;
    border-top: 1px dashed black;
}

h2 {
    text-align: left;
    color: red;
}