* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: grid;
    /* Otra forma de hacerlo
    grid-template-columns: ;
    grid-template-rows: ;
    */
    grid-template-areas: 
    "cabecera cabecera"
    "contenido menu"
    "pie pie"
    ;
}

header {
    grid-area: cabecera;
    align-items: center;
    background-color: #f4f4f4;
}
a {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
header img {
    height: 150px;
}
header h1 {
    font-family: 'Courier New';
    color: cornflowerblue;
    font-size: 8em;
}
main {
    grid-area: contenido;
    background-color: cornflowerblue;
}
main p {
    color: white;
    height: 90%;
}
main h2 {
    background-color: #f4f4f4;
    margin-top: 10px;
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2em;
    width: 85%;
    font-size: 4em;
}
aside {
    width: 10px;
    grid-area: menu;
}
footer {
    display: flex;
    justify-content: space-around;
    height: 75px;
    grid-area: pie;
    background-color: #f4f4f4;
    align-items: center;
    color: cornflowerblue;
    font-family: sans-serif;
}